*{
    font-family: 'Montserrat', sans-serif;
    color:whitesmoke;
}
header {
height:50vh;
min-height:400px;
background-size:cover;
background-image:url('https://realtorapp.s3.us-east-2.amazonaws.com/ManOfSteel.jpg');
}
.navbarHeader{
display: flex;
flex-direction: row;
align-content: space-between;
}
.hidden-spacer {
height: 56px
}
.navbar-nav {
float:none;
margin:0 auto;
display: block;
text-align: center;
}

 .navbar-nav > li {
display: inline-block;
float:none;
}

h2{
padding: 13px; 
text-transform: uppercase;
font-size: 3.6vh;
}

label{
    color: black;
}

#buttonsForForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#displaySample{
    color: black;;
}
#mysidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#061611;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  

#main {
    transition: margin-right .5s;
    padding: 16px;
  }
#sidebarList{
    list-style-type:none;
    position: fixed;
    
}
#lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#loading{
    width: 25px;
    height:25px;
    border: 5px solid #ccc;
    border-top-color: red; 
    border-radius: 100%;
    position: absolute;
    animation : spinner 0.7s linear infinite;
}

@keyframes spinner{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}

#fadein{
    box-shadow: 3px 3px 3px 3px #c2c0c0;
    animation: fade 0.7s;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }

}
a:hover {
  opacity: 0.5;
  }

  .card{
    animation: fade 0.7s;
  }
#searchbtn2{
   margin-left: auto;
   margin-right: auto;
  }
  .addToList{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
  }